body {
    margin: 0;
    font-family: sans-serif;
}

/* Universal classes */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.align__center {
    align-items: center;
}

.bgBlue {
    background: #413dee;
}

.container {
    max-width: 1140px;
    margin: auto;
}
/* Header Component */

.header {
    padding: 20px 30px 20px 30px;
    justify-content: space-between;
}

.header__logo {
    width: 196px;
    height: 30px;
}

.logo__span {
    line-height: 30px;
    letter-spacing: 10px;
}

.header__links {
  height: 52px;
  width: 628px;
  justify-content: space-around;
}

.header__lists {
    height: 32px;
    width: 96px;
}

.header__lists--blog {
    width: 32px;
}

.header__lists--pricing {
    width: 50px;
}

.header__lists--about {
    width: 45px;
}

.header__lists--contact {
    width: 60px;
}

.header__profile {
    width: 120px;
    height: 54px;
    justify-content: space-between;
}

.header__profile--shop {
    width: 54px;
    border-radius: 30px;
    color: white;
    justify-content: center;
}
/* Banner Component */

.banner {
    padding: 20px 0px 20px 30px;
    justify-content: space-between;
}

.banner__left {
    width: 320px;
    padding: 40px 0px 40px 0px;
}

.banner__content {
    width: 94px;
    height: 40px;
}

.banner__heading {
    width: 309px;
    font-size: 64px;
    font-family: serif;
}

.banner__buttons {
    width: 320px;
    height: 60px;
    justify-content: space-between;
}

.banner--leftBtn {
    width: 200px;
    border-radius: 4px;
    color: white;
    justify-content: center;
}

.banner__rightBtn {
    width: 104px;
    height: 32px;
}

.banner__right {
    width: 600px;
    height: 600px;
}
/* Items Component */

.items {
    padding: 30px 0px 30px 0px;
}

.items__header {
    height: 120px;
    background: #f8f8f8;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
}

.items__deals {
    width: 165px;
    height: 24px;
}

.items--explore {
    width: 88px;
    justify-content: space-between;
}

.items__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;
    padding: 20px 30px 20px 30px;
    margin: auto;
}

.items__blocks {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.items__blocks img {
    width: 90%;
}

.items__icons {
    width: 280px;
    height: 40px;
    justify-content: space-between;
}

.items__icon {
    height: 40px;
    width: 50px;
    background: #eb31311a;
    justify-content: center;
    border-radius: 5px;
}

.icons__percent {
    color: #eb3131;
    height: 20px;
    width: 31px;
    font-size: 13px;
}

.items__icon--right {
    width: 40px;
    background: #413dee14;
    border-radius: 30px;
}

.blue {
    color: #413dee;
}

.items__devices {
    width: 100px;
    border-radius: 5px;
    background: #413dee1a;
    font-size: 13px;
    height: 40px;
    justify-content: center;
}

.items__price {
    height: 40px;
    width: 92px;
    justify-content: center;
    font-size: 20px;
}

.items__title {
    width: 90%;
    font-size: 24px;
    height: 84px;
    padding: 10px 0px 10px 0px;
}

.items__btn {
    width: 280px;
    height: 60px;
    justify-content: space-between;
}

.items__btnLeft {
    width: 87px;
    height: 32px;
    justify-content: center;
}

.items__btnRight {
    width: 180px;
    height: 60px;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
/* Subscribe component */

.subscribe {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    color: white;
    gap: 10px;
    padding: 90px 0px 50px 0px;
}

.subscribe__heading {
    font-size: 50px;
    text-align: center;
}

.subscribe__para {
    text-align: center;
}

.subscribe__form {
    width: 500px;
    background: white;
    border-radius: 40px;
    padding: 10px;
}

.subscribe__input {
    width: 340px;
    height: 40px;
    font-size: 1rem;
    outline: none;
    border: none;
}

.subscribe__btn {
    width: 150px;
    height: 60px;
    border-radius: 30px;
    color: white;
    justify-content: center;
}
/* footer component */

.footer {
    padding: 30px 40px 20px 70px;
    margin-top: 20px;
    gap: 40px;
}

.footer__about {
    width: 250px;
    gap: 10px;
}

.footer__logo {
    font-weight: 600;
    font-size: 20px;
    font-family: "DM Sans";
}

.footer__content {
    line-height: 30px;
    font-family: "DM Sans";
}

.footer__links {
    width: 200px;
    gap: 10px;
}

.footer__logo--content {
    font-weight: 400;
    font-size: 16px;
}

.footer__socials {
    width: 200px;
    gap: 5px;
}

.footer__social {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #413dee1a;
    justify-content: center;
}
/* Media queries to make template responsive */

@media (max-width: 965px) {
  .banner {
      display: flex;
      flex-direction: column !important;
  }
}

@media (max-width: 750px) {
  .footer {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      padding: 0;
  }

  .footer__about,
  .footer__links,
  .footer__socials {
      width: 100%;
      text-align: center;
      justify-content: center;
  }

  .header__links {
      display: none;
  }
}

@media (max-width: 650px) {
  .subscribe__form {
      width: 400px !important;
  }

  .banner__right {
      width: 90% !important;
  }
  .subscribe__form {
    width: 90% !important;
}
}

@media (max-width: 375px) {
  .items__btn {
      width: 200px !important;
  }

  .subscribe__input {
      width: 140px !important;
  }

  .banner__buttons {
      display: flex;
      flex-direction: column !important;
      width: 300px !important;
  }

  .banner__left {
      width: 280px !important;
  }

  .banner__heading,
  .banner__left {
      width: 250px !important;
  }

  .banner__left {
      align-items: center;
  }

  .items__body {
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr)) !important;
  }

  .items__icons {
      width: 200px !important;
  }

  .banner--leftBtn {
      width: 80% !important;
  }

  .banner {
      padding: 0;
  }
}